
.css-10j3yc8-MuiFormLabel-root-MuiInputLabel-root{

  display: none;
}

.css-1y2ya84-MuiInputBase-root-MuiInput-root-MuiSelect-root {
  display: none;
}

.MuiBox-root .css-exd1zr{

  display: none;
}